/* .meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
} */

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

/*
.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
} */

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 0.3rem 0;
}

footer button {
  border: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  align-items: center;
  padding: 0 1rem;
}

.drink-btn-adjust {
  padding-left: 0.35rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

header h1 {
  margin: 0;
}

header button {
  border: none;
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0 1rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.recipe-wrapper {
  display: flex;
  flex-flow: column;
  margin: 4rem 0;
}

.recipe-wrapper section {
  display: block;
}

.recipe-wrapper ol {
  padding: 0 1rem;
}

.recipe-wrapper ul {
  list-style: none;
}

.recipe-wrapper ul li label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.final-button-container {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.final-button {
  border: none;
  padding: 0.5rem 0;
  width: 90%;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.share-and-like {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  left: 0;
  padding: 0.75rem 5%;
  background-color: white;
}

.share-and-like button {
  border: none;
  background: none;
}

.search-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.search-form {
  background-color: white;
  padding: 2rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 0.75rem;
}

.category-container button {
  padding: 4px 6px;
  border: none;
  border-radius: 0.2rem;
}

.selected-category {
  background-color: black;
  color: white;
}

.recipe-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
